 @media screen and (max-width:320px)
 {
 	.second-screen
 	{
 		margin-top: -200px;
 	}
 }

 body
 {
 	background-color: initial;
 	background-color: white;
 }
 .second-screen 
 {
 	background-color: white;
 	margin-top: -130px;
 }
 .navbar-default
 {
 	border-color: initial;
 }
 #beta-version
 {
 	background-color: rgba(40,40,40,.9);
    color: white;
    transform: rotate(-38deg);
    position: absolute;
    top: 70px;
    left: -85px;
    padding: 5px 90px;
 }
 footer a
 {
 	color: white;
 }
 footer h5
 {
 	font-size: 1.2em;
 }